.about-section{
  background: #1b262f;
  margin-top: 75px;
  background-image: url("../img/bg-color-about.png");
  background-repeat:no-repeat;
  background-position-y: 33px;
  margin-bottom: 150px;
}
.about__content{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.about__content-left{
  margin-right: 10px;
}
.about__title{
  font-family: 'DM Serif Display' serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #fbfcfe;
  padding-top: 100px;
  padding-bottom: 24px;
}
.about__width--text{
  width: 445px;
}
.about__text{
  font-family: 'Public Sans' ;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #fbfcfe;
  mix-blend-mode: normal;
  opacity: 0.7;
  padding-bottom: 32px;
}
.about__button{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  padding: 16px 32px;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  background: #1B262F;
  margin-bottom: 100px;
  cursor: pointer;
}
.about__button:hover{
  background: #FFFFFF;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  color:#1b262f;
}
.about__button:active{
  mix-blend-mode: normal;
  opacity: 0.5;
  color: #fbfcfe;
  background: color #1b2621;
}
.about__company{
  margin-left: 30px; 
}
.about__list{
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__item {
  padding-left: 60px;
  padding-top: 46px;
}
.about__logo{
  display: block;
}
@media only screen and (max-width:768px){
  .about-section{
    background-position:center;
    margin-bottom: 100px;
  }
  .about__content{
    flex-direction: column-reverse;
  }
  .about__title{
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;  
    padding-top: 56px;
  }
  .about__text{
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  }
  .about__button{
   margin-left: 160px;
  }
  .about__company{
    margin-left: 50px;
    margin-right: 50px;
  }
  
}
@media only screen and (max-width:376px){
  .about-section{
    margin-bottom: 80px;
  }
  img{
    width: 115px;
    height: 22px;
  }
  .about__item {
    padding-left: 0;
    padding-top: 46px;
  }
  .about__company{
    padding-top: 80px;
  }
  .about__title{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
  }
  .about__width--text{
    width: 327px;
  }
  .about__button{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
  }
}
