.species__content{
  display: flex;
  align-items:center;
}
.species__list{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

.species__item--title{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #36536b;
  padding-bottom: 16px;
}
.species__item + .species__item{
  padding-left: 30px;
} 
.species__item::before{
  display: block;
  margin: auto;
  content: '';
  position: relative;
  bottom: 32px;
  background-image:url("../img/money.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 106px;
  height: 106px;
}
.species__item:nth-child(2n)::before{
  background-image:url("../img/trade.svg");
}

.item__text-width{
  width: 350px;
}
.species__item--text{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #6c8294;
}
@media only screen and (max-width:768px){
  .species__content{
    width: 689px;
    margin: auto;
  }
  .species__item{
    width: 223px;
  }
  .species__item + .species__item{
    padding-left: 10px;
    margin: auto;
  } 
  .item__text-width{
    width: 223px;
  }
  .species__item::before{
    width: 88px;
    height: 88px;
  }
  
}

@media only screen and (max-width:376px){
  .species__list{
    flex-direction: column;
  }
    .species__item::before{
      margin-top: 40px;
    }
  
    .species__content{
      margin: 0;
      width: 328px;
      padding-left: 70px;
    }
}
